{% extends "userprofileApp/base.html" %}
{% block content %}
    <div class="container mt-5" align="center">
        <div class="row">
            <div class="col-md-6 m-auto" align="center">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <h1 class="display-4">Password Change Form</h1>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            {{form.as_p}}
                            {% csrf_token %}
                            <input type="submit" class="btn btn-success" value="Change Password">
                            <a href="/profile/" class="btn btn-success">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
