<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    </head>
    <body>
        <div class="container mt-5">
            {% if page_obj %}
                {% for obj in page_obj %}
                    <h1 class="display-5 alert alert-info"><a href="" class="">{{obj.title}}</a></h1>
                    <p class="lead">{{obj.description}}</p>
                    <small>{{obj.published_by}}</small>
                {% endfor %}
            {% endif %}
            <br>
            <br>
            <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a href="?page={{page_obj.previous_page_number}}" class="page-link">Prev</a></li>
            {% endif %}
            <li class="page-item active"><small class="page-link">{{page_obj.number}}</small></li>
            {% if page_obj.has_next %}
                <li class="page-item"><a href="?page={{page_obj.next_page_number}}" class="page-link">Next</a></li>
            {% endif %}
            </ul>
        </div>
        <!-- jQuery first, then Popper.js and Bootstrap JS. -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    </body>
</html>
